<div [routerLink]="['biopokemon']" class="card" [style.background]="getColorPokemon()">
  <section class="header">
    <p class="pokemon-name ion-text-capitalize">{{ pokemon.name }}</p>
    <p class="pokemon-number">#{{ pokemon.id }}</p>
  </section>
  <section class="body">
    <section class="types">
      <p
        [style.background]="getColorTypesPokemon(type)"
        class="ion-text-capitalize"
        *ngFor="let type of pokemon.types"
      >
        {{ type.type.name }}
      </p>
    </section>

    <img [src]="pokemon.sprites.front_default" alt="" />
  </section>
</div>
