
<div class="contenedor">
    <div class="fondo-home">
            <p class="tittle-home">NUNCA DEJES</p> 
            <p class="tittle-home">DE SER ORIGINAL</p> 
            <p class="subtittle-home">DESCUBRE NUESTRAS NOVEDADES</p>
            <button class="button-home">COMPRAR</button>
    </div>
    <div class="tienda">
        <p class="tittle-tienda">COLECCIÓN DE EDICIÓN LIMITADA</p>
        <div class="contenedor-cards">
            <div class="card-gorra">
                <div class="img-card"></div>
                <p>Soy un producto</p>
                <p>$25</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="card-gorra">
                <div class="img-card"></div>
                <p>Soy un producto</p>
                <p>$25</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="card-gorra">
                <div class="img-card"></div>
                <p>Soy un producto</p>
                <p>$25</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="card-gorra">
                <div class="img-card"></div>
                <p>Soy un producto</p>
                <p>$25</p>
                <button>Agregar al Carrito</button>
            </div>
            <div class="card-gorra">
                <div class="img-card"></div>
                <p>Soy un producto</p>
                <p>$25</p>
                <button>Agregar al Carrito</button>
            </div>

        </div>
    </div>
</div>

