<div class="container mt-3">
  <h1>Deudor</h1>
  <form [formGroup]="deudorForm" class="row g-3 mt-5">
    <!-- APELLIDO -->
    <div class="col-md-6">
      <label for="lastName" class="form-label">Apellidos: *</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        formControlName="lastName"
      />
    </div>

    <!-- NOMBRE -->
    <div class="col-md-6">
      <label for="firstName" class="form-label">Nombres: *</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        formControlName="firstName"
      />
    </div>

    <!-- TIPO DE DOCUMENTO -->
    <div class="col-md-3">
      <label for="passportType" class="form-label">Tipo de documento: * </label>
      <br />
      <ng-container *ngFor="let item of passportList; let i = index">
        <div class="form-check form-check-inline m-3">
          <input
            [value]="passportList[i]"
            name="passportType"
            type="radio"
            class="form-check-input"
            [id]="passportList[i]"
            formControlName="passportType"
          />
          <label [for]="passportList[i]" class="form-check-label">{{
            passportList[i]
          }}</label>
        </div>
      </ng-container>
    </div>

    <!-- NÚMERO DE DOCUMENTO -->
    <div class="col-md-3">
      <label for="passportNumber" class="form-label"
        >Número de documento: *</label
      >
      <input
        type="text"
        class="form-control"
        id="passportNumber"
        name="passportNumber"
        formControlName="passportNumber"
      />
    </div>

    <!-- FECHA DE NACIMIENTO -->
    <div class="col-md-2">
      <label for="bornDate" class="form-label">Fecha de nacimiento: *</label>
      <input
        type="date"
        class="form-control"
        id="bornDate"
        name="bornDate"
        formControlName="bornDate"
      />
    </div>

    <!-- SEXO -->
    <div class="col-md-4">
      <label for="sexType" class="form-label">Sexo: * </label>
      <br />
      <ng-container *ngFor="let item of sexList; let i = index">
        <div class="form-check form-check-inline">
          <input
            [value]="sexList[i]"
            name="sexType"
            type="radio"
            class="form-check-input"
            [id]="sexList[i]"
            formControlName="sexType"
          />
          <label [for]="sexList[i]" class="form-check-label">{{
            sexList[i]
          }}</label>
        </div>
      </ng-container>
    </div>

    <!-- ESTADO CIVIL -->
    <div class="col-md-6">
      <label for="maritalState" class="form-label">Sexo: * </label>
      <br />
      <ng-container *ngFor="let item of maritalStatusList; let i = index">
        <div class="form-check form-check-inline">
          <input
            [value]="maritalStatusList[i]"
            name="maritalState"
            type="radio"
            class="form-check-input"
            [id]="maritalStatusList[i]"
            formControlName="maritalState"
          />
          <label [for]="maritalStatusList[i]" class="form-check-label">{{
            maritalStatusList[i]
          }}</label>
        </div>
      </ng-container>
    </div>

    <!-- TIPO DE VIVIENDA -->
    <div class="col-md-6">
      <label for="dwellingType" class="form-label">Tipo de vivienda: * </label>
      <br />
      <ng-container *ngFor="let item of dwellingTypeList; let i = index">
        <div class="form-check form-check-inline">
          <input
            [value]="dwellingTypeList[i]"
            name="dwellingType"
            type="radio"
            class="form-check-input"
            [id]="dwellingTypeList[i]"
            formControlName="dwellingType"
          />
          <label [for]="dwellingTypeList[i]" class="form-check-label">{{
            dwellingTypeList[i]
          }}</label>
        </div>
      </ng-container>
      <!-- OTRO TIPO DE VIVIENDA -->
      <ng-container *ngIf="deudorForm.get('dwellingType')!.value == 'Otros'">
        <label for="" class="form-label"></label>
        <input
          type="text"
          class="form-control"
          id="otherDwellingType"
          name="dwellingType"
          formControlName=""
          placeholder="Ingrese el tipo de vivienda"
        />
      </ng-container>
    </div>

    <!-- DEPARTAMENTO -->
    <div class="col-md-3">
      <label for="department" class="form-label">Departamento: *</label>
      <input
        type="text"
        class="form-control"
        id="department"
        name="department"
        formControlName="department"
      />
    </div>

    <!-- PROVINCIA -->
    <div class="col-md-3">
      <label for="province" class="form-label">Provincia: *</label>
      <input
        type="text"
        class="form-control"
        id="province"
        name="province"
        formControlName="province"
      />
    </div>

    <!-- MUNICIPIO -->
    <div class="col-md-3">
      <label for="municipality" class="form-label">Municipio: *</label>
      <input
        type="text"
        class="form-control"
        id="municipality"
        name="municipality"
        formControlName="municipality"
      />
    </div>

    <!-- LOCALIDAD -->
    <div class="col-md-3">
      <label for="locality" class="form-label">Localidad: *</label>
      <input
        type="text"
        class="form-control"
        id="locality"
        name="locality"
        formControlName="locality"
      />
    </div>

    <!-- CALLE -->
    <div class="col-md-5">
      <label for="street" class="form-label">Calle: *</label>
      <input
        type="text"
        class="form-control"
        id="street"
        name="street"
        formControlName="street"
      />
    </div>

    <!-- NUMERO -->
    <div class="col-md-1">
      <label for="houseNumber" class="form-label">Número: *</label>
      <input
        type="text"
        class="form-control"
        id="houseNumber"
        name="houseNumber"
        formControlName="houseNumber"
      />
    </div>

    <!-- ZONA -->
    <div class="col-md-3">
      <label for="houseZone" class="form-label">Zona: *</label>
      <input
        type="text"
        class="form-control"
        id="houseZone"
        name="houseZone"
        formControlName="houseZone"
      />
    </div>

    <!-- TELÉFONO -->
    <div class="col-md-3">
      <label for="phoneNumber" class="form-label">Teléfono: *</label>
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        formControlName="phoneNumber"
      />
    </div>

    <!-- TIPO DE ORGANIZACIÓN -->
    <div class="col-md-6">
      <label for="organizationType" class="form-label"
        >Tipo de organización: *
      </label>
      <br />
      <ng-container *ngFor="let item of organizationTypeList; let i = index">
        <div class="form-check form-check-inline">
          <input
            [value]="organizationTypeList[i]"
            name="organizationType"
            type="radio"
            class="form-check-input"
            [id]="organizationTypeList[i]"
            formControlName="organizationType"
          />
          <label [for]="organizationTypeList[i]" class="form-check-label">{{
            organizationTypeList[i]
          }}</label>
        </div>
      </ng-container>
    </div>

    <!-- OTRO TIPO DE ORGANIZACIÓN -->
    <ng-container *ngIf="deudorForm.get('organizationType')!.value == 'Otros'">
      <div class="col-md-6">
        <label for="" class="form-label">Otro tipo de organización: *</label>
        <input
          type="text"
          class="form-control"
          id="otherorganizationType"
          name="organizationType"
          formControlName=""
          placeholder="Ingrese el tipo de organización"
        />
      </div>
    </ng-container>

    <!-- NOMBRE Y DIRECCIÓN DE ORGANIZACIÓN -->
    <ng-container
      *ngIf="deudorForm.get('organizationType')!.value != 'Ninguno'"
    >
      <!-- NOMBRE DE LA ORGANIZACIÓN -->
      <div class="col-md-3">
        <label for="organizationName" class="form-label"
          >Nombre de la organización: *</label
        >
        <input
          type="text"
          class="form-control"
          id="organizationName"
          name="organizationName"
          formControlName="organizationName"
        />
      </div>

      <!-- DIRECCIÓN DE LA ORGANIZACIÓN -->
      <div class="col-md-3">
        <label for="organizationAdress" class="form-label"
          >Nombre de la organización: *</label
        >
        <input
          type="text"
          class="form-control"
          id="organizationAdress"
          name="organizationAdress"
          formControlName="organizationAdress"
        />
      </div>
    </ng-container>

    <!-- GRADO DE INSTRUCCIÓN -->
    <div class="col-md-6">
      <label for="instructionDegree" class="form-label">Grado de instrucción: * </label>
      <br />
      <ng-container *ngFor="let item of instructionDegreeList; let i = index">
        <div class="form-check form-check-inline">
          <input
            [value]="instructionDegreeList[i]"
            name="instructionDegree"
            type="radio"
            class="form-check-input"
            [id]="instructionDegreeList[i]"
            formControlName="instructionDegree"
          />
          <label [for]="instructionDegreeList[i]" class="form-check-label">{{
            instructionDegreeList[i]
          }}</label>
        </div>
      </ng-container>
    </div>

     <!-- DEPENDIENTES -->
     <div class="col-md-6">
      <label for="dependentsNumber" class="form-label">Número de dependientes: *</label>
      <input
        type="text"
        class="form-control"
        id="dependentsNumber"
        name="dependentsNumber"
        formControlName="dependentsNumber"
      />
    </div>

    <!-- BUTTON -->
    <div class="col-4">
      <button
        type="submit"
        name=""
        id=""
        class="btn btn-primary btn-lg btn-block"
        (click)="ShowDeudorForm()"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
