<div class="contenedor">
    <div class="cont-servicio cont-hijo">
        <div class="servicio-cliente cont-nieto">
            <h5>Servicio al cliente</h5>
                <p>Tel: 914-173-446</p>
                <p>Email: raw@site.com</p>
        </div>
        <hr>
        <div class="distribuidores cont-nieto">
            <h5>Distribuidores</h5>
            <p><b>Afirmación</b>  |  Av. Los Rosales 122, 28021, Madrid</p>
            <p><b>Convicción</b>  |  Av. Los Rosales 122, 28021, Madrid</p>
            <p><b>Genialidad</b>  |  Av. Los Rosales 122, 28021, Madrid</p>
            <p><b>Imperial</b>  |  Av. Los Rosales 122, 28021, Madrid</p>
            <p><b>Montaña</b>  |  Av. Los Rosales 122, 28021, Madrid</p>
            <p><b>Excellent</b>  |  Av. Los Rosales 122, 28021, Madrid</p>
        </div>
    </div>
    <div class="contactanos cont-hijo">
        <h4>CONTÁCTANOS</h4>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Escribe tu mensaje aquí">
        <button>Enviar</button>
    </div>
  </div>
