ion-infinite-scroll-content {
  margin: auto !important;
}

ion-col {
  height: 20vh;
}

ion-content {
  --background: #f2f2f2;
}

@media (orientation: landscape) {
  ion-col {
    height: 30vh;
  }
}
.alert-warning {
  width: 100%;
  height: 5vh;
  background: #fff3cd;
  margin: auto;
  border: 1px solid #ffe89b;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  color: black;
}
