ion-infinite-scroll-content {
  margin: auto !important;
}

ion-col {
  height: 20vh;
}

ion-content {
  --background: #f2f2f2;
}

@media (orientation: landscape) {
  ion-col {
    height: 30vh;
  }
}