<router-outlet></router-outlet>



<!-- Pipes -->
<!-- <div class="container mt-3">
  <h1>Angular Pipes</h1>
  <table class="table text-center mt-5">
    <thead>
      <tr>
        <th>Nombre pipe</th>
        <th>Valor inicial</th>
        <th>Pipe code</th>
        <th>Valor pasado por el pipe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Currency pipe</td>
        <td>{{ amount }}</td>
        <td>amount | currency: 'EUR'</td>
        <td>{{ amount | currency: "EUR" }}</td>
      </tr>
      <tr>
        <td scope="row">Date pipe with arguments</td>
        <td>{{ testDate }}</td>
        <td>testDate | date:'dd/MM/yyyy HH:mm:ss'</td>
        <td>{{ testDate | date: "dd/MM/yyyy HH:mm:ss" }}</td>
      </tr>
      <tr>
        <td scope="row">Uppercase pipe</td>
        <td>{{ texto }}</td>
        <td>texto | uppercase</td>
        <td>{{ texto | uppercase }}</td>
      </tr>
      <tr>
        <td scope="row">Lowercase pipe</td>
        <td>{{ texto }}</td>
        <td>texto | lowercase</td>
        <td>{{ texto | lowercase }}</td>
      </tr>
      <tr>
        <td scope="row">Number pipe</td>
        <td>{{ numberPI }}</td>
        <td>numberPI | number: '4.1-5'</td>
        <td>{{ numberPI | number: "4.1-5" }}</td>
      </tr>
      <tr>
        <td scope="row">Percent pipe</td>
        <td>{{ numberPercent }}</td>
        <td>numberPercent | percent</td>
        <td>{{ numberPercent | percent }}</td>
      </tr>
      <tr>
        <td scope="row" (click)="changeLetters = !changeLetters">
          Custom capitalize pipe
        </td>
        <td>{{ texto }}</td>
        <td>texto | capitalize: changeLetters</td>
        <td>{{ texto | capitalize: changeLetters }}</td>
      </tr>
      <tr>
        <td scope="row">Custom show password pipe</td>
        <td>{{ password }}</td>
        <td>password | showPassword</td>
        <td>{{ password | showPassword }}</td>
      </tr>
      <tr>
        <td scope="row">Json pipe</td>
        <td>{{ jsonFake }}</td>
        <td>jsonFake | json</td>
        <td>{{ jsonFake | json }}</td>
      </tr>
      <tr>
        <td scope="row">Example json pipe</td>
        <td>{{ thirdList }}</td>
        <td>thirdList | json</td>
        <td>{{ thirdList | json }}</td>
      </tr>
      <tr>
        <td scope="row">Async pipe</td>
        <td>{{ obsevable$ }}</td>
        <td>obsevable$ | async</td>
        <td>{{ obsevable$ | async }}</td>
      </tr>
      <tr>
        <td scope="row">Async pipe ngFor</td>
        <td>{{ obsevable$ }}</td>
        <td>*ngFor="let number of obsevable$! | async"</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let number of obsevable$! | async">{{ number }}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td scope="row">Useless pipe</td>
        <td>Ejemplo</td>
        <td>thirdList | useless: 'mr':'jc'</td>
        <td>{{ thirdList | useless: 'mr':'jc' }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
