<nav class="navbar">
  <div class="logo-navbar">
    <div class="container-tittle"><p class="raw-tittle-navbar">RAW</p></div>
    <div class="container-etc-linea">
      <p class="etc-tittle-navbar">ETC</p>
      <div class="linea-tittle-navbar"></div>
    </div>
  </div>


  <ul class="items-navbar">
    <li class="item-navbar search">
      <input
        type="search"
        class="input-search border-0"
        placeholder="Buscar..."
      />
      <img class="lupa-icon" src="./../../../assets/lupa-icon.jpg" alt="" />
    </li>
    <li class="item-navbar carrito">
      <p class="item">Carrito</p>
      <p class="carrito-number">0</p>
    </li>
    <li class="item-navbar">
      <div class="login">
        <img src="./../../../assets/icono-login.png" alt="" class="icon-login" />
      <p class="item">Login</p>
      </div>
    </li>
    <li class="item-navbar tres-lineas">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </li>
  </ul>
</nav>
<div class="botton-navbar">
</div>
